img {
  width: 200px;
}

.brown {
  background-color: burlywood;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.links {
  display: block;
}

.links.close {
  display: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.input-wrapper.error {
  border-color: red;
}

.input-wrapper.valid {
  border-color: green;
}

.input-wrapper .feedback {
  display: none;
  color: red;
  margin: 0;
}

.input-wrapper.error .feedback {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-bottom: 2rem;
  margin-top: 2rem; */
  margin-block: 2rem;
}
